/* hide elements on mobile */

@media (max-width: 768px) {

	.hide-mobile {
		display: none !important;
	}

	/* center content on mobile */
	.center-mobile {
		text-align: center;
		align-self: center;
		justify-content: center;
		margin-left: auto;
		margin-right: auto;
	}
}

/* hide elements on desktop */

@media (min-width: 769px) {

	.hide-desktop {
		display: none !important;
	}
}
